html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #ECE3D4; /* Track color */
    border-radius: 10px; /* Optional: round the edges */
  }
  
  ::-webkit-scrollbar-thumb {
    background: "transparent"; /* Gradient effect for thumb */
    /* Round the scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    /* background: linear-gradient(180deg, #555, #333); */
    cursor: pointer; /* Change cursor to indicate scrolling */
  }
  
  /* Optional: Customize scrollbar corner for scrollable containers */
  ::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }
  
/* scrollbar for exerxise page */


  .scrollbar-custom::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the track */
    border-radius: 5px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scroll thumb */
    border-radius: 5px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scroll thumb on hover */
  }